@import "tailwindcss";
/* Default font settings */
body {
  font-family: 'Inter', sans-serif;
}

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

/* Arabic font settings */
html[lang="en"] body {
  font-family: 'Inter', sans-serif; /* Use Almarai if lang is Arabic */
}
html[lang="ar"] body {
  font-family: 'Almarai', sans-serif; /* Use Almarai if lang is Arabic */
}


.swiper-pagination-bullet {
    background-color: #E7A624; /* Change to your desired color (gold) */
    opacity: 0.7;
    color: black;
  }
  
  .swiper-pagination-bullet-active {
    background-color: #000000  !important; /* Change to a different color for active dot */
  }
  
  /* Customize Swiper navigation arrows */
  .swiper-button-next:after,
  .swiper-button-prev:after {
    color: #E7A624; /* Change arrow color (gold) */
    border-radius: 50%;
    padding: 5px;
    color: black;
    transition: background-color 0.3s;
  }

  .swiper-button-next:after {
    margin-left: 20px !important;
  }
  
  